

{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 col-xl-8">
    <article>
      <div class="blog-header">
        <script async src="https://comments.app/js/widget.js?3" data-comments-app-website="PLgICT2y" data-limit="5" data-color="FFFFFF" data-dislikes="1" data-colorful="1" data-dark="1"></script>
        <h1>{{ .Title }}</h1>
        {{ partial "main/blog-meta.html" . }}
      </div>
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      {{ .Content }}
    </article>
  </div>
</div>
{{ end }}